@charset "UTF-8";

html , body {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(0, 0, 0) url(../imagens/fundo-madeira2.jpg) top center no-repeat;background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
}

section#celular {
    background: rgba(255, 0, 0, 0) url(../imagens/iphone-14-pro-max.png) no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 500px;
    width: 247px;
    margin-top: -180px;
}

iframe {
    margin-top: 10px;
    margin-left: 12px;
    width: 222px;
    height: 480px;
    border-radius: 30px;
}

section#sociais {
    text-align: right;
    margin-top: 180px;
}

section img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.343);
    transition-duration: .4s;
}

section img:hover {
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.477);
    transform: translate(-3px , -3px);
}